
body{

    background: #b59f3f;
    background: linear-gradient(to right, #36aef4, #b59f3f);
}

#container{

    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0, 5);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0, 5);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0, 5);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0, 5);
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    margin: 0 auto;
    padding: 30px;
    width: 350px;
    margin-top: 250px;

}

.campo{

    border: solid 4px #cece76;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 35px;
    width: 300px;
}

.boton{

    background: #849175;
    border: solid 0;
    color: #fff;
    padding: 10px;
}


.errores{

    box-shadow: 0 0  10px rgba(0, 0, 0, 0, 3);
    box-shadow: 0 0  10px rgba(0, 0, 0, 0, 3);
    box-shadow: 0 0  10px rgba(0, 0, 0, 0, 3);
    background: red;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0, 3);
    color: #fff;
    display: none;
    font-size: 14px;
    margin-top: -80px;
    margin-left: 340px;
    padding: 10px;
    position: absolute;

}


